h2 {
  font-family: 'Rock Salt', cursive;
  color: black;
}
#search {
  padding: 2rem;
  background-color: #113b18;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  opacity: 0.9;
}
