body {
  background-image: url("./images/stone-tile.jpg");
  width: 100%;
  height: auto;
  background-repeat: repeat;
  
}

.greeting {
  margin: 2rem;
  background-color: black;
  margin: 0;
  padding: 1rem;
  color: #6fd46b
}
ul {
  list-style-type: none;
}

li {
line-height: 2;
}
main{
  margin-bottom: 4rem;
  padding-bottom: 3rem;
}
