.guildTitle {
  font-family: 'Rock Salt', cursive;
  color: lightgoldenrodyellow;
  margin: 2rem;
  text-shadow: 
        -2px -2px 0 #953f36,  
        2px -2px 0 #953f36,
        -2px 2px 0 #953f36,
        2px 2px 0 #953f36;

}